/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.msg-sucess{
    background-color: #6A1B9A;
}   

.msg-error{
    background-color: #f53c3c;
}